@model IEnumerable<Ejemplo_MVC.tblEmpleados>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NOMBRES)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.APELLIDOS)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) { // for each que realiza las consultas
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NOMBRES)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.APELLIDOS)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
